@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-nexa-bold {
    font-family: 'Poppins', sans-serif; /* Alternative to Nexa */
    font-weight: 700;
  }
}
@font-face {
  font-family: 'Nexa';
  src: url('./assets/fonts/Nexa-Bold.woff2') format('woff2'),
       url('./assets/fonts/Nexa-Bold.woff') format('woff'),
       url('./assets/fonts/Nexa-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.banner{
  width: 100%;
  background-color: rgb(0, 69, 255);
  background-image: linear-gradient(rgba(0, 69, 255,0.8), rgba(0, 0, 0, 0.9)),
  url(./assets/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #d6dbf573;
}